@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: Poppins;
}


.home{
    color:black;
    font-weight:bold;
    font-size:28px;
}

a{
    color:rgb(80, 79, 79);
}