@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Import has to be first line
Could condense these to one line*/

*{
    margin:0;
    padding:0;
}




html, body{
    width: 100%;
    height: 100%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
}

.background{
    background-color: rgb(41, 29, 29);
}

h1{
    font-size: 24px;
    font-family: Poppins;
    font-weight: normal;
    color: white;
    background-color: black;
    position: absolute;
    top: 5%;
    left: 0;
}

.intro{
    margin-top: 50px;
    text-align: center;
    font-family: Poppins;
    font-weight: normal;
    color: black;
}

h2{
    font-size: 24px;
    font-weight: lighter;
    position: static;
    padding-bottom: 20px;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    width: 500px;
    position: static; 
    padding-bottom: 50px;
}

.nav{
    width: 100px;
    height: auto;
    position: absolute;
    top: 15%;
    left: 0;
}


.nav a{
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    font-weight: lighter;
    width: 100%;
    height: 60px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 60px;
    text-align: center;
}



.project{
    /* if absolute can't center with margin 0
    default is static*/
    width: 300px;
    height: 100px;
    background-color:rgb(12, 162, 189);
    margin: 0 auto;
    border-style:dotted;
    text-align:center;
}



.project_body name{
    position: relative;
    font-size: 18px;
    font-family: Poppins;
    font-weight: lighter;
    width: 100%;
    display:inline-block;
    color:white;
    /* top and bottom do nothing if static
    change to relative, from where would be
    which is top of parent box*/
    top: 5px; 
}



.project_body a{
    position: relative;
    font-size: 14px;
    font-family: Poppins;
    font-weight: lighter;
    width: 100%;
    display:inline-block;
    color:white;
    top: 40px;
}

.break{
    width: 100px;
    height:50px;
    border-style:dotted;
    border-color:rgb(241, 237, 237);
    margin: 0 auto;
}


